@charset "utf-8";

/* http://colorschemedesigner.com/#3D61Uk.ppuDoH */
$primary: #6F8DB4;

/* secondary b */
$menu-bg: #105844;

/* compliment  */
$menu-border: #2F856D;


body {
  background: url("../images/bg.png");
  font-family: sans-serif;
  color: #6C8CD5;
}

#map {
  width: 250px;
  height: 250px;
  top: 10px;
  right: 10px;
  position: fixed;
  border: 1px solid gray;
  background: #333;
  z-index: 1000;
  opacity: 0.8;
}

#space {
  width: 20000px;
  height: 20000px;
  position: absolute;
}

.menu {
  width: 500px;
  height: 200px;
  position: fixed;
  top: 10%;
  left: 30%;
  background-color: $menu-bg;
  border: 2px solid $menu-border;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  opacity: 0.7;
}

.menu .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  color: $primary;
}
