.menu.ship-menu{style: 'display:none'}
  .close X
  %h3 {{name}}
  %ul.destinations
    {{#destinations}}
    %li 
      %a.action{href: "#", "data-action" => "transfer", "data-argument" => "{{id}}"} {{name}}
    {{/destinations}}
